<!DOCTYPE html>
<html lang="zh_CN">
<meta charset="utf-8">
    <head>
        <!--网页标题-->
        <title>{{title}} - 网页笔记本</title>
        <!--网页图标-->
        <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="images/sunme.ico") }}>
        <!--加载CSS-->
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}>
        <link rel='stylesheet' type="text/css" href={{ url_for('static', filename="font-awesome-4.7.0/css/font-awesome.css") }}>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="styles.css") }}>
        <!--加载JS-->
        <script type="text/javascript" src={{ url_for('static', filename="jquery-3.3.1/jquery-3.3.1.min.js") }}></script>
        <script type="text/javascript" src={{ url_for('static', filename="bootstrap-4.3.1-dist/js/bootstrap.min.js") }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='editscript.js') }}></script>
    </head>
    <body>
        <div class="main-container">
        <!--放在一起方便css中使用grid 从而可以把iframe纵向展开-->
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <!--顶部导航栏-->
                <a class="navbar-brand" href="#">
                    我的笔记<span class="badge badge-light m-1">{{ noteinfo['id'] }}</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse offcanvas-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item m-1 active">
                            <button class="btn btn-secondary text-nowrap" id="save-btn"><i class="fa fa-save"></i>保存<span class="sr-only">(current)</span></button>
                        </li>
                        <li class="nav-item m-1">
                            <button class="btn btn-secondary text-nowrap" id="arch-btn"><i class="fa fa-file-archive-o"></i>存档</button>
                        </li>
                        <li class="nav-item m-1">
                            <button class="btn btn-secondary text-nowrap" id="dele-btn"><i class="fa fa-trash"></i>删除</button>
                        </li>
                        <!--li class="nav-item m-1">
                            <button class="btn btn-secondary text-nowrap" id="btnShow"><i class="fa fa-trash"></i>测试</button>
                        </li-->                        
                        <li class="nav-item m-1">
                            <a class="nav-link text-nowrap" href="#">修改时间：{{ noteinfo['mtime'] }}</a>
                        </li>
                        <li class="nav-item m-1">
                            <a class="nav-link text-nowrap" id="outlink" href="{{ noteinfo['url'] }}">外链：{{ noteinfo['url'] }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="note-del-alt" class="alert alert-warning collapse" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                笔记已成功删除
            </div>
            <div id="note-arc-alt" class="alert alert-success collapse" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                笔记已成功存档
            </div>
            <div class="info-module">
            <!--信息栏-->
                <div class="input-group mb-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">标题：</span>
                    </div>
                    <input type="text" class="form-control" id="note-title" aria-describedby="basic-addon3" value="{{ noteinfo['title'] }}">
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">分类：</span>
                            </div>
                            <input type="text" class="form-control" id="note-keywords" aria-describedby="basic-addon3" value="{{ noteinfo['keywords'] }}">
                        </div>
                    </div>
                    <div class="col-sm-auto text-nowrap">
                        <span class="badge badge-light m-1">
                            <!--a href=" {{ 'file:///'+noteinfo['path']+'附件/'+noteinfo['att_list'][0] }}">{{ noteinfo['att_list'][0] }}</a-->
                             <a href=" {{ url_for('sendAtt', idx=noteinfo['id'], file=noteinfo['att_list'][0]) }}">{{ noteinfo['att_list'] }}</a>
                        </span>
                    </div>
                </div>
            </div>
            <!--div class="WYSIWYG-edit"-->
                <div class="WYSIWYG-buttons-container">
                <!--笔记修饰按钮栏-->    
                    <button class="WYSIWYG-button btn btn-light" id="view-btn"><i class="fa fa-eye"></i>阅览</button>                                 
                    <button class="WYSIWYG-button btn btn-light" id="edit-btn"><i class="fa fa-pencil"></i>编辑</button>           
                    <button class="WYSIWYG-button btn btn-light" id="bold-btn" data-name="bold">加粗</button>
                    <button class="WYSIWYG-button btn btn-light" id="undl-btn" data-name="underline">下划线</button>
                    <button class="WYSIWYG-button btn btn-light" id="ftsz-btn" data-name="fontSize" data-value="1px">缩字体</button>
                    <button class="WYSIWYG-button btn btn-light" id="juce-btn" data-name="JustifyLeft"><i class="fa fa-align-left"></i></button>
                    <button class="WYSIWYG-button btn btn-light" id="juce-btn" data-name="JustifyCenter"><i class="fa fa-align-center"></i></button>
                    <button class="WYSIWYG-button btn btn-light" id="juce-btn" data-name="JustifyRight"><i class="fa fa-align-right"></i></button>
                    <button class="WYSIWYG-button btn btn-light" id="fred-btn" data-name="forecolor" data-value="red">变红</button>
                    <button class="WYSIWYG-button btn btn-light" id="bblue-btn" data-name="backcolor" data-value="#00d4ff">高亮蓝</button>
                    <button class="WYSIWYG-button btn btn-light" id="byllw-btn" data-name="backcolor" data-value="#faff00">高亮黄</button>
                    <button class="WYSIWYG-button btn btn-light" id="numli-btn" data-name="insertorderedlist">1.数列</button>
                    <button class="WYSIWYG-button btn btn-light" id="dotli-btn" data-name="insertunorderedlist">● 点列</button>
                    <button class="WYSIWYG-button btn btn-light" id="dotli-btn" data-name="Indent"><i class="fa fa-indent"></i>增加缩进</button>
                    <button class="WYSIWYG-button btn btn-light" id="dotli-btn" data-name="Outdent"><i class="fa fa-outdent"></i>减少缩进</button>
                    <button class="WYSIWYG-button btn btn-light" id="table-btn" data-name="insertHTML" data-value="
                        <table style='border: solid 1px;'>
                            <tbody>
                                <tr>
                                    <td>请粘贴表格</td>
                                </tr>
                            </tbody>
                        </table>
                    "><i class="fa fa-table"></i>插入表格</button>
                    <button class="WYSIWYG-button btn btn-light" id="rmfmt-btn" data-name="removeFormat"><i class="fa fa-times"></i>清除格式</button>
                </div>
                <!--附件将以拖拽形式呈现，暂时还未实现-->

                <!--不要随便给iframe加div不然脚本在DOM里会找不到这个组件--> 
                <iframe class="WYSIWYG-note" name="wysiwyg" src={{ source }}></iframe> 
                <!--iframe class="WYSIWYG-note" name="wysiwyg" src={{ url_for("static", filename=source) }}></iframe-->     
                <!--script>
                $("#btnShow").click(function(){
                    $("#hhh").slideDown();
                });
                </script-->
            <!--/div-->            
        </div> 
    </body>
</html>