<!DOCTYPE html>
<html lang="zh_CN">
<meta charset="utf-8">
    <head>
        <title>{{title}} - 网页笔记本</title>
        <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="favicon.ico") }}>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="styles.css") }}>
        <script>
            window.onload = function(){
                var btn_e = document.getElementById("edit-btn");
                btn_e.style["background-color"] = 'lightgreen';
                var btn_v = document.getElementById("view-btn");
                btn_v.style["background-color"] = 'lightblue';
                frames['wysiwyg'].document.designMode = 'on';
                //console.log(frames['wysiwyg'].src)
            }
            function saveNote(){
                var btn_s = document.getElementById("save-btn");
                btn_s.onclick = function(){
                    //console.log(211);
                    var data = frames["wysiwyg"].document.documentElement.outerHTML;
                    //console.log(data);
                }
            }
            function archiveNote(){
                var btn_a = document.getElementById("arch-btn");
                btn_a.onclick = function(){
                    //console.log(211);
                    //var data = frames["wysiwyg"].document.documentElement.outerHTML;
                    //console.log(data);
                }
            }
            function saveNote(){
                var btn_d = document.getElementById("dele-btn");
                btn_d.onclick = function(){
                    //console.log(211);
                    //var data = frames["wysiwyg"].document.documentElement.outerHTML;
                    //console.log(data);
                }
            }
            function processNote(){
                var btns = document.getElementsByClassName('WYSIWYG-button');
                for(var i=0; i<btns.length; i++){
                    if(i===0){
                        btns[i].onclick = function(){
                            frames['wysiwyg'].document.designMode = 'off';
                        }    
                    } else if(i===1){
                        btns[i].onclick = function(){
                            frames['wysiwyg'].document.designMode = 'on';
                        }
                    } else{
                        btns[i].onclick = function(){
                            frames['wysiwyg'].document.designMode = 'on';
                            frames['wysiwyg'].document.execCommand(this.getAttribute('data-name'), false, this.getAttribute('data-value'));
                        }
                    }
                }
            }
            function loadNote(){
                var notes = document.getElementsByClassName('note-item');
                for(var i=0; i<notes.length; i++){
                    notes[i].onclick = function(){
                        console.log(this.getAttribute('note-id'), this.getAttribute('note-type'))
                        // console.log({{ source }})
                        // console.log(this.getAttribute('tt'))
                        //console.log(frames['wysiwyg'].src)
                        var frm = document.getElementById('WYSIWYG-note');
                        console.log(frm.src)
                        frm.src = "http://localhost:5000/" + this.getAttribute('note-type') + "/" + this.getAttribute('note-id')
                        //frames['wysiwyg'].src = this.getAttribute('note-id')
                        //frames['wysiwyg'].contentDocument.location.reload(true);
                        // frm.src = this.getAttribute('note-link');
                        frm.contentDocument.location.reload(true);
                    }
                }
            }
        </script>
    </head>
    <body>
        <div class="grid-container">
            <!--div class="header">
                <h1>Hello, {{user.nickname}}!</h1>
            </div--> 
            <div class="func-module">
                <button id="update-all" onclick="updateAll()"   >更新全部</button>
                <button id="update-new" onclick="updateNew()"   >更新最新</button>
                <button id="calendar"   onclick="showCalender()">日历</button>
                <button id="wordcloud"  onclick="showCloud()"   >词云</button>
                
            </div>
            <div class="search-module">
                <!--input  id="search-input" type="text" value="请按行输入待检测内容"-->
                <textarea id="search-input" name="Text1" ></textarea>
                <button id="search-reset-btn">重置</button>
                <form class="search-radio-btn">
                    <div class="radio-btn"><input type="radio" name="search-radio" value="and" checked>和</div>
                    <div class="radio-btn"><input type="radio" name="search-radio" value="or" >或</div>   
                    <div class="radio-btn"><input type="radio" name="search-radio" value="not">否</div>   
                </form>
                <!--input type="radio" name="search-radio" id="and-rbtn"  value="and" checked>和</input>
                <input type="radio" name="search-radio" id="or-rbtn"   value="or" >或</input>
                <input type="radio" name="search-radio" id="note-rbtn" value="not">否</input-->
                <button id="search-btn">检索</button>
            </div>
            
            
            <div class="list-module">
                <div class="list-buttons-container">
                    <button id="Draft-sel-btn"  >草稿</button>
                    <button id="Archive-sel-btn">存档</button>
                    <select id="sort-btn">
                        <optgroup label="正序">
                            <option value="1">按标题</option>
                            <option value="3">按时间</option>
                            <option value="5">按分类</option>
                            <option value="7">按文件类型</option>
                        </optgroup>
                        <optgroup label="倒序">
                            <option value="2">按标题</option>
                            <option value="4">按时间</option>
                            <option value="6">按分类</option>
                            <option value="8">按文件类型</option>
                        </optgroup>
                            <!--option value="1">按标题(A-Z)</option>
                            <option value="2">按标题(Z-A)</option>
                            <option value="3">按时间(0-9)</option>
                            <option value="4">按时间(9-0)</option>
                            <option value="5">按分类(A-Z)</option>
                            <option value="6">按分类(Z-A)</option>
                            <option value="7">按文件类型(A-Z)</option>
                            <option value="8">按文件类型(Z-A)</option-->
                    </select>
                </div>
                <div class="list-container">                
                {% for idx,row in noteslist.iterrows() %}
                    <div onclick="loadNote()" class="note-item" id=idx tt= "{{ row }}" note-type="{{ row.type }}" note-id="{{ row.name }}" >
                        <a href="{{ url_for('shownote', tp=row['type'],idx=idx) }}">{{ row['title'] }}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            
            <div class="info-module">
                <button onclick="saveNote()" id="save-btn">保存</button>
                <div class="note-title-label">标题：</div>
                <input class="note-title-input" type="text" value="{{ noteinfo['title'] }}">
                <div class="note-keywords-label">关键词：</div>
                <input class="note-keywords-input" type="text" value="{{ noteinfo['keywords'] }}">
                <div class="note-time-label">修改时间：{{ noteinfo['ctime'] }}</div>
            </div>
            
            <div class="WYSIWYG-module">
                <div class="WYSIWYG-buttons-container">
                    <button onclick="archiveNote()" id="arch-btn">存档</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="view-btn">阅览</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="edit-btn">编辑</button>           
                    <button onclick="processNote()" class="WYSIWYG-button" id="bold-btn" data-name="bold">加粗</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="fred-btn" data-name="forecolor" data-value="red">变红</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="bblue-btn" data-name="backcolor" data-value="#00d4ff">高亮蓝</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="byllw-btn" data-name="backcolor" data-value="#faff00">高亮黄</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="rmfmt-btn" data-name="removeFormat">清除格式</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="numli-btn" data-name="insertorderedlist">1.数列</button>
                    <button onclick="processNote()" class="WYSIWYG-button" id="dotli-btn" data-name="insertunorderedlist">● 点列</button>
                    <button onclick="deleteNote()"  id="dele-btn">删除</button>
                </div><!--上边是WYSIWYG的各种按钮-->
                <!--附件将以拖拽形式呈现-->
                <div class="frame-container">       
                <!--iframe class="WYSIWYG-note" name="wysiwyg" src={{ url_for("static", filename=source) }}></iframe-->
                    <iframe id="WYSIWYG-note" name="wysiwyg" src={{ source }}></iframe>
                </div>
            </div>

            <!--div class="attachment-module">
                attachment module
            </div>
            <div class="calendar-module">
                calendar module
            </div-->
            
        </div>    
    </body>
</html>