/*html, body { height: 100% } */

#note-del-alt, #note-arc-alt{
    display:none; /*先不显示*/
    z-index:99999; /*浮动在前*/
}
button{
    cursor:pointer;
}
#dele-btn{
    background-color:#db331d;
}
#bold-btn{
    font-weight:bold;
}
#undl-btn{
    text-decoration: underline;
}
#fred-btn{
    color:red;
}
#bblue-btn{
    color:white;
    background-color:#00d4ff;
}
#byllw-btn{
    background-color:#faff00;
}
#rmfmt-btn{
    font-style:italic;
}
.WYSIWYG-button{
    flex-grow:1;
}

.navbar{
    grid-area:navb;
}
.info-module{
    grid-area:info;
}
.WYSIWYG-buttons-container{
    grid-area:btns;
    display:flex;
    flex-direction: row;
}
.WYSIWYG-note{
    grid-area:frame;
    width: 100%; 
    height: 100%;
    /*overflow: hidden;*/
}
/*.WYSIWYG-edit{
    grid-area:edit;
}*/
.main-container{
    width: 99vw;
    height: 100vh;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 64px 76px 32px auto; /* 64和72都是与预制导航栏和输入框内定的，不要改 */
    /*grid-template-rows: auto 12% auto;*/
    grid-template-areas:
        "navb"
        "info"
        /*"edit";*/
        "btns"
        "frame";
}